* {
  margin: auto;
  background-color: #4b636e;
}

.game-container {
  position: absolute;
  left: 50%;
  right: 50%;

  
}

.table {
  width: 50vw;
  height: 50vw;
  border: 1px solid #4b636e;
  border-collapse: collapse;
  &:after{
    display: block;
    padding-top: 90%;
  }
}


.cell {
  border: 1px solid #4b636e;
  text-align: center;
}

[value="dead"] {
  background-color: #78909c;
}


[value="dead"]:hover {
  background-color: #78909c;
  animation-name: isDead;
  animation-duration: 2s;
}

@keyframes isDead {
  from {background-color: #e5f3fa;}
  to {background-color: #78909c;}
}

[value="alive"] {
  background-color: #a7c0cd;
  animation-name: isAlive;
  animation-duration: 2s;
}

@keyframes isAlive {
  from {background-color: #78909c;}
  to {background-color: #e5f3fa;}
}


.inputs {
  margin-top: 10%;
  font-family: monospace;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}